<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    @vite('resources/css/app.css')
</head>

<body class="font-sans text-gray-900">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni porro eos error soluta veritatis repellat ut aliquid libero! Suscipit impedit quas eos porro distinctio animi quia nobis magni assumenda odio?
    Quod tempora recusandae dolor veniam. Possimus similique molestias, neque doloremque quam voluptate temporibus laboriosam laudantium labore velit tempore dolores beatae sed, eos numquam! Cum eaque iure corrupti accusamus nam dolore?
    Ducimus iure odit eum, dicta dolorem, aliquid distinctio ut quidem aut id fuga aperiam tempora enim obcaecati eaque ipsum quo praesentium? Ea ex temporibus repellendus ipsum quo dolores consequatur error?
    Expedita, eius praesentium quod excepturi ipsa explicabo libero veniam quasi consequuntur quis. Quam exercitationem veritatis consequuntur, quas ducimus ad tempora magni magnam nisi quaerat dolorem, delectus amet! Eius, enim harum.
    Veniam itaque a aperiam quaerat voluptatem repudiandae velit qui voluptate officiis praesentium provident, incidunt temporibus, explicabo, esse totam nemo ut minus laborum. Repudiandae qui neque atque ex. Vitae, illo cum.
    Fuga, facilis ut perferendis mollitia officiis modi natus sed quasi ad deserunt eum eius consequuntur vel inventore illo voluptatem sequi libero nobis ratione amet voluptas culpa in blanditiis? Earum, sequi?
    Quia at harum tempore odit laboriosam, similique repellendus esse autem sint in eveniet. Aperiam illo corrupti laboriosam beatae necessitatibus animi eligendi ratione, iste veniam vitae deserunt eveniet aliquam eos architecto?
    Cupiditate aut et quasi corporis reprehenderit harum excepturi animi beatae, ab consequuntur nobis tempora debitis quis voluptatibus quod, quae ullam veniam quaerat amet? Aut nemo fugiat ipsum voluptatem voluptas molestiae.
    Vel, perspiciatis libero similique amet, harum suscipit reprehenderit autem inventore numquam modi impedit voluptate adipisci, possimus eum nisi minima corrupti obcaecati officiis aliquam debitis. Beatae officiis placeat impedit quas repellat?
    Accusamus voluptate cum dolorem magni tenetur nostrum, pariatur quos quas unde perspiciatis corporis facere quaerat autem, possimus asperiores minus nisi voluptatum veritatis consequuntur minima doloribus? Nobis eaque voluptatum velit voluptas!
</body>

</html>